<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>test04.html</title>
	<link rel="stylesheet" href="/css/bootstrap.css"/>
	<script src="/js/angular.min.js"></script>
	<script>
		var myApp=angular.module("myApp",[]);
		myApp.controller("Ctrl1",["$scope","$http",function($scope,$http){
			$scope.msgList=[];
			//목록 보기 버튼을 눌렀을때 실행할 함수 
			$scope.getList=function(){
				$http({
					url:"/ajax/getlist2",
					method:"get"
				}).success(function(data){
					//응답된 데이터를 모델에 연결한다. 
					$scope.msgList=data;
				});
			};
		}]);
	</script>
</head>
<body ng-controller="Ctrl1">
<div class="container">
	<h3>angularJs Ajax 테스트</h3>
	<button ng-click="getList()">목록 보기</button>
	<ul>
		<li ng-repeat="tmp in msgList">{{tmp}}</li>
	</ul>
</div>	
</body>
</html>